.profile-card {
  width: 95%;
  box-shadow: 0 0 5px grey;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
}

.featured-profile-title{
  color: black;
  font-size: 40px;

}

.featured-profile-card {
  margin-top: 1%;
  margin-left: 4%;
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  box-shadow: 0px 0px 10px rgb(133, 135, 138);
  border-style:solid;
  border-color: rgb(228, 227, 226);
  border-color: rgb(60, 60, 75);
  border-radius:80px;
  border-width:.8em;
  border-end-end-radius: 50px;
} 


.feature-column-a{
  padding-top: 20px;
  display: flex;
  flex-direction:column;
  align-items: center;
  border-style: solid;
  color: white;
  border-style: solid;
  border-color: rgb(246, 160, 32);
  border-width: 0.3em;
  border-radius:30%;
  margin:20px
}

.feature-column-b{
  padding-top: 20px;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.feature-column-c{
  padding-top: 20px;
  display: flex;
  flex-direction:column;
  align-items: center;
}


.linkedin-icon{
  height: 40px;
}

.profile-photo {
width: 230px;
height: 250px;
margin-bottom: 6%;
border-radius: 30%;
}

.posted-text{
  font-size: 14px;
}