.about {
  margin-left: 3%;
  margin-right: 3%;
  /* background-color: rgb(100, 149, 237); */
}

.container {
  /* border-style: solid; */
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 100px;
  display: flex;
  justify-content: center;
  background: linear-gradient(270deg, cornflowerblue, #fcc467, #efefef);
  background-size: 400% 400%;
  -webkit-animation: shimmer 30s ease infinite;
  -moz-animation: shimmer 30s ease infinite;
  animation: shimmer 30s ease infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
}

.heading {
  color: black;
  font-size: 25px;
  margin-bottom: 40px;
}

.col-lg-5 {
  /* border-style: solid; */
}

p {
  margin: 2%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.focus {
  color: blue;
}

h1 {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.imageColumn {
  width: 30%;
  /* margin: 2%; */
  /* justify-content: center; */
}
/* 
.img-fluid {
  padding: 1%;
  width: 30%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  vertical-align: -webkit-baseline-middle;
} */

@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  div.container {
    padding-left: 0;
    vertical-align: middle;
  }
  h1.heading {
    font-size: 21px;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 16px;
  }
}
