
.profile-list {
  margin-left: 3%;
  margin-right: 3%;
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
  /* grid-column-gap: 5px;
  column-gap: 10px; */
  margin-top: 1%;
 
}


p {
  font-size: large;
  margin: 5%;
  /* color: black; */
}

.form {
  height:750px;
  font-size: 16px;
  margin-top: 2%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  /* padding-top: 20px; */
  width: 50%;
  border-radius: 30% 50% 70% 30% / 30% 30% 40% 70% !important;
  background-color: cornflowerblue;
  border-style: solid;
  border-color: rgb(60, 60, 75);
}

.adminform {
  height:200px;
  font-size: 16px;
  margin-top: 2%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 50%;
  border-radius: 30% 50% 60% 30% / 30% 30% 70% 70% !important;
  background-color: rgb(255, 189, 89);
  border-style: solid;
  border-color: rgb(60, 60, 75);
}


input, select {
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
  width: 320px;
  height: 30px;
  border-style: none;
  font-size: 16px;
}

label {
  display: inline-block;
  width: 15em;
  text-align: right;
  margin-right: 1em;
  font-weight: bold;
}

.button {
  margin: 10px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 20px;
  border-style: none;
  width: 320px;
  font-size: 16px;
  margin-left: 260px;
}

.big-input{
  height: 125px;
}

.upload{
  border-radius: 20px;
  background-color: white;
  color: black;
}

.filter{
  width: 400px;
} 

.search-and-filter-div{
  margin-top: 2%;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}